/*.header{
    margin: 0 auto;
    background-color: teal;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
}*/

.header form input{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    height: 50%;
    width: 160px;
}

.header .user-name{
    margin-top: 4%;
    margin-left: 70%;
}

.header .cart {
    height: 40px;
    background-color: transparent;
    border: 0;
}