*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
  background: #00000011;
}

body{
  background: #797878;
}

body, input, button{
  font-family: Arial, Helvetica, sans-serif;
}